
.clear {width:0px;height:0px;clear:both;}
.icon {vertical-align:middle;}

a:link, a:visited, a:active {color:#09C;}
a:hover {color:#960}

#body-header {background-color:#CFC;padding:5px 10px;border-bottom:2px solid #888;}
#body-header .logo {float:left;}
#body-header .logo img {position:absolute;left:10px;top:5px;}
#body-header .logo .subname {padding:5px 0px 5px 132px;font-size:108%;color:#777;}
#body-header .logo .name {padding-left:132px;font-size:153.9%;font-weight:bold;color:#555;}
#body-header .right_panel {text-align:right;}
#body-header .right_panel .account {font-size:108%;margin-bottom:15px;}
#body-header .right_panel .account .username {color:#444;margin-right:8px;}
#body-header .right_panel .navigation {font-size:108%;margin-bottom:5px;}
#body-header .right_panel .navigation a {background-color:#7A7;color:#FFF;text-decoration:none;padding:3px 10px;margin-left:15px;}
#body-header .right_panel .navigation a:hover {background-color:#960;}

#body-title {background-color:#666;padding:8px 15px;}
#body-title h1 {font-size:138.5%;font-weight:bold;color:#FFF;}
#body-title .subtitle {font-size:108%;color:#DDD;margin-bottom:8px;}

#body-tabs {background-color:#666;padding:0px 15px;}
#body-tabs ul {background-color:#666;}
#body-tabs li {color:#ED6912;background-color:#888;font-size:108%;font-weight:bold;height:20px;padding:6px 15px 4px;display:block;float:left;margin-right:10px;}
#body-tabs li.right_item {float:right;margin-right:0px;margin-left:10px;}
#body-tabs li.selected {background-color:#FFF;}
#body-tabs li a:link, #body-tabs li a:visited, #body-tabs li a:active {color:#FFF;text-decoration:none;}
#body-tabs li a:hover {color:#F39659;text-decoration:underline;background:none;}
#body-tabs li img {vertical-align:middle;margin-right:8px;}

#body-content {padding:15px;}

.ss_control_panel {margin:5px 0px 15px;}
.ss_control_panel ul {border-bottom:2px solid #999;background-color:#89BCC2;}
.ss_control_panel ul li {font-size:108%;color:#FFF;padding:8px 15px;display:inline-block;display:-moz-inline-stack;*display:inline;list-style:none;zoom:1;}
.ss_control_panel ul li img {margin-right:5px;vertical-align:middle;}
.ss_control_panel ul li a {color:#FFF !important;}
.ss_control_panel ul li a:hover {color:#960 !important;}

.ss_table {}
.ss_table {width:100%;}
.ss_table th {border:1px solid #999;padding:10px 10px;background-color:#777;color:#EEE;font-size:116%;}
.ss_table td {border:1px solid #999;padding:8px 10px;font-size:108%;}

.ss_table .controls {width:55px;text-align:center;}
.ss_table .controls img {margin:0px 4px;}
.ss_table .controls a:hover {background:none !important;}
